<ion-header>
  
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Welcome to farm</h1>
      <h3>Explore us</h3>
    </div>

    <img src="../../assets/welcome-glow.jpg"/>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="foward" >Login</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="foward">Signup</ion-button>
    </div>
  </div>

</ion-content>
