<ion-header>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1 style="color:#1AB44F" >Crop Sensing</h1>
      <h6>Bienvenido</h6>
    </div>

    <img src="../../assets/bienvenido.png"/>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="foward" >Ingresar</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="foward"> Crear una cuenta</ion-button>
    </div>
  </div>

</ion-content>
