<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h3>Registro</h3>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="foward">
        Sign up
      </ion-button>
      
      <div class="sign-up">
        Tiene cuenta? <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="foward">Ingrese</ion-button>
      </div>

    </div>

  </div>
</ion-content>